// Mixins Here
//parametric mixin
.btnprop() {
    width: 100px;
    height: 35px;
    background-color: black;
    font-size: 2rem;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
}

//regular mixins