// Navigation code here
.navi {

    display: flex;
    justify-content: center;
    .padding-t();
    background-color: #f4f4f4;
    border-bottom: 2px solid @main-border-color;
    .padding-b();
    
    @media @phone {
        width: 100%;
    }
    
        h1 {
            font-size: 4rem;
            text-align: center;
            padding-bottom: 4%;
        }
            
            a {
                    font-size: 2rem;
                    color: black;
                    text-decoration: none;
                    text-align: center;
                    margin-left: 25px;
                    @media @phone {
                        font-size: 1.5rem;
                        width: 100%;
                    }
                }
    
}//closes navi class

